body {
  margin: 0px;
}

header {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#addHabitForm {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  gap: 10px;
}

#addHabitInput {
  border: 1px solid black;
  border-radius: 4px;
}

#addHabitForm button {
  border: none;
  padding: 5px;
  background-color: black;
  color: white;
  border-radius: 4px;
}

#searchHabitForm {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

#searchHabitInput {
  width: 80%;
  height: 2em;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}

#searchHabitForm button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  height: inherit;
}

#habitList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 20px 0px 20px;
}

.habitCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: rgba(204, 204, 204, 0.785);
  border-radius: 6px;
}

.divNameStatus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.divNameStatus h4 {
  margin: 0px;
}

.divNameStatus h4:last-child {
  color: rgba(0, 0, 0, 0.644);
  margin: 0px 0px 0px 30px;
}

.divBtnContainer {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
  gap: 10px;
}

.divBtnContainer button {
    color: white;
    background-color: black;
    border: none;
    padding: 5px;
    border-radius: 4px;
}

.divBtnContainer button:last-child {
    background-color: red;
}

#searchErrorDisplay {
    font-size: 20px;
    text-align: center;
    color: rgb(195, 0, 0);
}