body {
  margin: 0px;
}

header {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#searchHabitForm {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  gap: 10px;
}

#searchHabitInput {
  border: 1px solid black;
  border-radius: 4px;
}

#searchHabitForm button {
  border: none;
  padding: 5px;
  background-color: black;
  color: white;
  border-radius: 4px;
}

/* new */
#addHabitForm {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

#addHabitInput {
  width: 80%;
  height: 2em;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}

#addHabitForm button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  height: inherit;
}

#habitList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 20px 0px 20px;
}

.habitCard {
  position: static;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 6px;
  border: 1.5px solid black;
}

.divNameStatus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.divNameStatus h4 {
  margin: 0px;
}

.divNameStatus h4:last-child {
  color: rgba(0, 0, 0, 0.644);
  margin: 0px 0px 0px 10px;
}

.divBtnContainer {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
  gap: 10px;
}

.divBtnContainer button {
  color: white;
  background-color: black;
  border: none;
  padding: 5px;
  border-radius: 4px;
}

.divBtnContainer .deleteBtn {
  background-color: red;
}

#searchErrorDisplay {
  font-size: 20px;
  text-align: center;
  color: rgb(195, 0, 0);
}

#habitListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 15px 5px 15px;
}

#habitListHeader h2 {
  margin: 0px;
}

#habitListHeader button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  display: flex;
  gap: 3px;
  align-items: center;
}

.hidden {
  display: none !important;
}

#filterCard {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  gap: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 200;
  right: 90px;
}

#filterCard p {
  margin: 0px;
  color: white;
  margin-bottom: 10px;
}

#filterCard button {
  padding: 3px 4px 3px 4px;
  background-color: white;
  color: black;
}

.active {
  border: 1px solid rgb(35, 134, 255);
}

#editForm {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  text-align: center;
  height: 100px;
  background-color: gray;
  padding: 20px;
  border-radius: 12px;
  max-width: 70%;
}

#editForm h3{
  margin: 10px 0px 20px 0px;
}

#editForm input, #editForm button{
  border-radius: 4px;
  border: 1px solid black;
}

#editForm button{
  margin-top: 5px;
  padding: 5px;
  color: white;
  background-color: black;
}

.hiddenEdit {
  display: none !important;
}
